
  <div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/add-art/">Add Ascii Art</a></li>
      <li>
        <a href="#">Categories</a>
        <ul class="category">
          <li><a href="/categories/animals">animals</a></li>
          <li><a href="/categories/books">books</a></li>
          <li><a href="/categories/comics">comics</a></li>
          <li><a href="/categories/people">people</a></li>
          <li><a href="/categories/cartoons">cartoons</a></li>
          <li><a href="/categories/plants">plants</a></li>
          <li><a href="/categories/weapons">weapons</a></li>
        </ul>
      </li>
    </ul>
  </div>
